.App {
  text-align: center;
  background-color: black;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gallery-items-container {
  display: inline-block;
  margin: 15px;
}

.gallery-items {
  height: 400px;
  width: 400px;
}

.gallery-description {
  text-align: center;
  margin-bottom: 150px;
  font-size: 19px;
  color: white;
}
